:root {
    --font-gray: rgb(49, 49, 49);
    --clear-gray: #dfe1e5;
    --black: #000000;
    --shadow: #20212447;
}

html {
    font-size: 62.5%;
    font-family: "Plus Jakarta Sans", serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 6rem;
}

header nav {
    display: flex;
    justify-content: end;
}

nav .nav-right-section {
    width: 20rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav .nav-right-section a {
    margin-right: 1rem;
    color: #000000;
    font-weight: 600;
}

nav .nav-right-section li a:hover {
    text-decoration: underline;
}

nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
}

nav .nav-right-section .menu-icon img:hover {
    background-color: var(--clear-gray);
    border-radius: 50%;
}

nav .nav-right-section .user-image img {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    margin-left: 1rem;
    object-fit: cover;
}

main {
    margin-top: 15rem;
    text-align: center;
}

main .main-logo {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-logo img {
    width: 30rem;
    height: 10rem;
}

main .main-input {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-input-container {
    width: 52rem;
    border-radius: 10rem;
    border: .1rem solid var(--clear-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    font-size: 2rem;
    width: 45rem;
    height: 4rem;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 .1rem .6rem 0 var(--shadow);
    border-color: #dfe1e500;
}

main .main-input .search-icon {
    background-image: url("https://cdn0.iconfinder.com/data/icons/payment-76/512/search-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.6;
    width: 1.8rem;
    height: 1.8rem;
}

main .main-input .micro-icon {
    background-image: url("https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-25-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.main-buttons {
    margin-top: 3rem;
}

button {
    font-weight: bold;
    color: var(--font-gray);
    height: 3.6rem;
    width: 15rem;
    margin: 0 .4rem;
    border-radius: .5rem;
    border-color: var(--clear-gray);
    background-color: var(--clear-gray);
}

footer {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    background-color: var(--clear-gray);
}

footer section ul {
    margin: 0 1rem;
    display: flex;
    list-style: none;
}

section li {
    margin: 2rem;
}